bin
dist
*.o
*.sublime-workspace
/jxtn.jfx.axi/nbproject/private/
/jxtn.core.axi/nbproject/private/
/jxtn.jfx.makers/nbproject/private/
/jxtn.core.fmpp/nbproject/private/
/jxtn.jfx.swt/nbproject/private/
